*{
    margin: 0;
    padding: 0
    ;
}
.banner{
    height: 65 vh;
    background-image: url(image);
    background-size: cover;
    background-position: 0%;
}

table, th, td {
    background-color: azure;
    border: 1px solid white;
    border-collapse: collapse;
}

.th, td{
    background-color:darkgrey;
}

body{
    background-color:cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(image/tumb-company-profile-LPKIA.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
}
 h1, h2, h3,p{
    background-color: aqua;
}

h4,h5{
    background-color: darkturquoise;
}
